#particles-js {
  position: fixed !important;
  width: 100% !important;
  min-height: 100vh !important;
  overflow-y: auto !important;
  background-color: #232741;
}

.fullpage {
  position: fixed !important;
  width: 100% !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  overflow-y: hidden !important;
}

.btn-group-wrap {
  text-align: center;
}

div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.developer {
  width: 90px;
  margin: 3px;
  transform: scale(1);
  transition: .1s all .1s;
}

.developer:hover {
  transform: scale(1.03);
}
