#particles-js {
  position: fixed !important;
  width: 100% !important;
  min-height: 100vh !important;
  overflow-y: auto !important;
  background-color: #232741;
}

.fullpage {
  width: 100% !important;
  min-height: 100vh !important;
  overflow-y: auto !important;
}

.btn-group-wrap {
  text-align: center;
}

div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.developer {
  width: 125px;
  margin: 3px;
  transform: scale(1);
  transition: .1s all .1s;
}

.developer:hover {
  transform: scale(1.03);
}

#camera {
  height: 435px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media all and (max-width: 767px) {
  #camera {
    width: 100%;
  }
}
