<div id="particles-js"></div>
<div class="fullpage d-flex align-items-center py-3">
  <div class="col-12 p-0 m-0">
    <div id="header" class="col-12 m-0 p-0 animated fadeInDown">
      <h1 class="display-2 text-center text-white">Smart Blaster</h1>
      <h1 class="h5 text-center text-white text-uppercase">
        Détecte et colmate vos brèches rapidement
      </h1>
    </div>
    <div id="content" class="col-12 col-md-8 mx-auto animated fadeIn">
      <!-- ARROWS TO CONTROL THE ROVER -->
      <div
        id="arrows"
        class="col-12 col-md-8 mx-auto rounded my-5"
        style="padding: 90px 0px; background-color: rgba(10, 10, 10, 0.2)"
      >
        <div class="col-12 text-center">
          <button
            (mousedown)="btnClicked('F', null)"
            (mouseup)="btnClicked(null, null)"
            class="btn btn-lg btn-light"
            style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;"
          >
            <i class="fas fa-arrow-up"></i>
          </button>
        </div>
        <div class="btn-group btn-group-lg">
          <button
            (mousedown)="btnClicked(null, 'L')"
            (mouseup)="btnClicked(null, null)"
            class="btn btn-light"
          >
            <i class="fas fa-arrow-left"></i>
          </button>
          <button class="btn btn-light" (click)="onOffClicked()">
            <i class="fas fa-power-off"></i>
          </button>
          <button
            (mousedown)="btnClicked(null, 'R')"
            (mouseup)="btnClicked(null, null)"
            class="btn btn-light"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
        <div class="col-12 text-center">
          <button
            (mousedown)="btnClicked('B', null)"
            (mouseup)="btnClicked(null, null)"
            class="btn btn-lg btn-light"
            style="border-top-left-radius: 0px; border-top-right-radius: 0px;"
          >
            <i class="fas fa-arrow-down"></i>
          </button>
        </div>
      </div>
      <!-- LIST OF DEVELOPERS -->
      <div id="developers" class="col-12 text-center">
        <h1 class="h4 text-light mb-3 text-center animated fadeInUp">
          Développeurs
        </h1>
        <div class="animated fadeInUp">
          <img src="../assets/img/christopher.png" class="developer" />
          <img src="../assets/img/wilson.png" class="developer" />
          <img src="../assets/img/sylvain.png" class="developer" />
          <img src="../assets/img/xavier.png" class="developer" />
          <img src="../assets/img/simon.png" class="developer" />
          <img src="../assets/img/pierre.png" class="developer" />
        </div>
        <img src="http://10.100.2.233:8080/?action=stream" />
      </div>
    </div>
  </div>
</div>
