
SmartBlasterAPI/.vs/SmartBlasterAPI/v16/Server/sqlite3/db.lock
SmartBlasterAPI/.vs/SmartBlasterAPI/DesignTimeBuild/.dtbcache
*.ide
SmartBlasterAPI/.vs/SmartBlasterAPI/v16/.suo
SmartBlasterAPI/.vs/SmartBlasterAPI/v16/Server/sqlite3/storage.ide
SmartBlasterAPI/.vs/SmartBlasterAPI/v16/.suo
